<!--Estendendo do template Base.html-->
{%extends "_layouts/base.html"%}

<!--Bloco que define o <title>-->
{%block title%}Página Inicial{%endblock%}

<!--Bloco de conteúdo-->
{% block conteudo %}

<!-- Cadastrar Contratos -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastrar Contratos</h5>
          <p class="card-text">
            Cadastre aqui um novo <code>Contrato</code>.
          </p>
          <a href="{% url 'create_contracts' %}"
             class="btn btn-primary">
            Novo Contrato
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Contratos</h5>
          <p class="card-text">
            Veja aqui a lista de <code>Contratos</code> cadastrados.
          </p>
          <a href="{% url 'list_contracts' %}"
             class="btn btn-primary">
            Vá para Lista
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<!-- Cadastrar Produtos -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastrar Produto</h5>
          <p class="card-text">
            Cadastre aqui um novo <code>Produto</code>.
          </p>
          <a href="{% url 'create_products' %}"
             class="btn btn-primary">
            Novo Produto
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Produtos</h5>
          <p class="card-text">
            Veja aqui a lista de <code>Produtos</code> cadastrados.
          </p>
          <a href="{% url 'list_products' %}"
             class="btn btn-primary">
            Vá para Lista
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!--Teste de propriedades disponíveis no Django-->
<!--<h1>Hello, {{user.email}}</h1>-->
