{% extends "_layouts/base.html" %}

{% load widget_tweaks %}

{%block title%}New-Update page{%endblock%}

{%block conteudo%}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cadastro de Contratos</h5>
                    <p class="card-text">
                        Complete o formulário abaixo para cadastrar
                        um novo <code>Contrato</code>.
                    </p>
                    <form method="POST">
                        {% csrf_token %}

                        <div class="input-group-prepend">
                            <span class="input-group-text" for="contractNumber">Numero de Contrato</span>
                            {% render_field form.contractNumber class+="form-control" type+=text id+="contractNumber" name+="contractNumber" placeholder+="Contract Number" %}
                        </div>

                        <div class="input-group-prepend">
                            <span class="input-group-text" for="counterParty">Contra-Parte</span>
                            {% render_field form.counterParty class+="form-control" type+=text id+="counterParty" name+="counterParty" placeholder+="Counter Party" %}
                        </div>

                        <div class="input-group-prepend">
                            <label class="input-group-text" for="isPurchase">
                                Contrato de Compra?
                            </label>
                            <input type="checkbox" checked {% render_field form.isPurchase class+="form-control form-control-sm" id+="isPurchase" %}
                        </div>

                        <div class="input-group-prepend">
                            <label class="input-group-text" for="product">Produto:</label>
                            <select {% render_field form.product class+="form-control" id+="product" name="product"%}>
                                {% for product in allproducts %}
                                <option value="{{product.code}}">{{product.code}}</option>
                                {% endfor%}
                            </select>
                        </div>

                        <div class="input-group-prepend">
                            <label class="input-group-text" for="alloy">Liga:</label>
                            <select {% render_field form.alloy class+="form-control" id+="alloy" name="alloy"%}>
                                {% for product in allproducts %}
                                <option value="{{product.alloy}}">{{product.alloy}}</option>
                                {% endfor%}
                            </select>
                        </div>

                         <div class="input-group-prepend">
                            <label class="input-group-text" for="shape">Formato:</label>
                            <select {% render_field form.shape class+="form-control" id+="shape" name="shape"%}>
                                {% for product in allproducts %}
                                <option value="{{product.shape}}">{{product.shape}}</option>
                                {% endfor%}
                            </select>
                        </div>

                        <div class="input-group-prepend">
                            <label class="input-group-text" for="isRange">
                                Volume Fixo?
                            </label>
                            <input type="checkbox" checked {% render_field form.isRange class+="form-control form-control-sm" id+="isRange" %}
                        </div>

                        <div class="input-group-prepend">
                            <span class="input-group-text" for="minVol">Volume Mínimo</span>
                            <input type="number" {% render_field form.minVol class+="form-control" id+="minVol" name+="minVol" placeholder+="1234" %}
                        </div>

                        <div class="input-group-prepend">
                            <span class="input-group-text" for="maxVol">Volume Máximo</span>
                            <input type="number" {% render_field form.maxVol class+="form-control" id+="maxVol" name+="maxVol" placeholder+="1234" %}
                        </div>

                        <div class="input-group-prepend">
                            <label class="input-group-text" for="originSupplier">Fornecedor:</label>
                            <select {% render_field form.originSupplier class+="form-control" id+="originSupplier" name="originSupplier" %}>
                                <option value="ALCOA" selected>ALCOA</option>
                                <option value="CBA">CBA</option>
                                <option value="RIO TINTO">RIO TINTO</option>
                                <option value="PRESSMETAL">PRESSMETAL</option>
                            </select>
                        </div>

                        <div class="input-group-prepend">
                            <label class="input-group-text" for="allocationCtr">Contrato de compra:</label>
                            <select {% render_field form.allocationCtr class+="form-control" id+="allocationCtr" name="allocationCtr"%}>
                                <option VALUE="1" selected>ALP-3-00123-P</option>
                                <option VALUE="2">...</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
<input type=text class="form-control" id="contractNumber" name="contractNumber" placeholder="Contract Number">

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastro de Contratos</h5>
          <p class="card-text">
            Complete o formulário abaixo para cadastrar
            um novo <code>Contrato</code>.
          </p>
          <form method="post">
            {% csrf_token %}

        <div class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-12">
                     <label for="shape">Formato:</label>
                     <select id="shape" name="shape" class="form-control">
                     <option selected>Lingote</option>
                     <option>5000mm</option>
                     <option>5300mm</option>
                     <option>Bobinas 2mt</option>
                     </select>
                     {{ form.shape }}
                            </div>
                        </div>


            <- Contract Number ->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Contract Number</span>
              </div>
                {% render_field form.contractNumber class+="form-control" %}
            </div>

            <- Element ->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Element</span>
              </div>
                {% render_field form.element class+="form-control" %}
            </div>

              <- Alloy ->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Alloy</span>
              </div>
                {% render_field form.alloy class+="form-control" %}
            </div>

              <- Shape ->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Shape</span>
              </div>
                {% render_field form.shape class+="form-control" %}
            </div>

              <- Stock ->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Stock</span>
              </div>
                {% render_field form.stock class+="form-control" %}
            </div>

              <- Price ->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
      </form>
        </div>
      </div>
    </div>
  </div>
</div>
-->
{%endblock%}